# STRIPE
STRIPE_API_KEY=
NEXT_PUBLIC_STRIPE_PUBLIC_KEY=

STRIPE_SUCCESS_URL=http://localhost:3000/posts
STRIPE_CANCEL_URL=http://localhost:3000/

# GITHUB
GITHUB_ID=
GITHUB_SECRET=

# FAUNADB
FAUNA_KEY=